<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Host" value="studesk.co.in"/>
		<add key="EnableSsl" value="false"/>
		<add key="UserName" value="info@studesk.co.in"/>
		<add key="Password" value="Studesk@1234"/>
		<add key="Port" value="587"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="UMTConnection" connectionString="Data Source=YOGESHPC\SQLDEVSERVER;Initial Catalog=umt;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>-->
		<!-- 103.21.58.192|umtusr|Qju12p7~ -->
		<add name="UMTConnection" connectionString="Data Source=103.21.58.192;Initial Catalog=umtdb;User ID=umtusr;Password=Qju12p7~" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<machineKey validationKey="5A0F57EA8023446E2EEB0B19EF35FA43BF7FC25ED1C20A134019D7A4B29934BB773F0E0383016DC357F22DE0CF18723E894ED9A4C359D5516A89389C4DE7913D" decryptionKey="97B25548E9BDCEEE70CD2B16549B00C7197A773ADFDC153A" validation="SHA1"/>
	</system.web>
</configuration>
